body {
    background-image: url(/img/img-design/background.jpg);
    margin-bottom: 12px;
}
#foot1 {
    color: whitesmoke;
    background-image: url(/img/img-design/footer-back.jpg);
    text-align: center;
    text-transform: capitalize;
    cursor: not-allowed;
    font-weight: bold;
}
.center {
    text-align: center;
}
#site {
    background-image: url(/img/img-design/background.jpg);
    margin-bottom: 12px;
    background-color: ghostwhite;
    box-shadow: #000000 0 0 10px;
    border-radius: 10px 10px;
}
#social2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 20px;
}
@font-face {
    font-family: 'Sofia';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sofia/v9/8QIHdirahM3j_su5uI0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#baslik {
    font-family: Sofia;
    font-size: larger;
    border-radius: 15px 15px;
    margin-bottom: 12px;
    margin-left:12px;
    margin-right:12px;
    box-shadow: #000000 0 0 7px;
}
#basliktahsin {
    font-family:Sofia;
    font-size:40px;
    color:#13b7f6;
}
#kaydolformu {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sagla{
    text-anchor:end;
}
